{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} This is worst title{% endblock %}

{% block body %}

    {% for num in numbers %}
    <p>{{ num }}</p>
    {% endfor %}

{% endblock %}